.navcontainer ul {
  list-style-type: none;
  background: #192332;
  height: 100px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navcontainer {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.mainnav {
  display: flex;
}

.mainnav :hover {
  opacity: 0.4;
}

.socialmedia {
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
}

.facebook:hover {
  color: #4267b2;
}

.github:hover {
  color: #7c7ea3;
}

.instagram {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram:hover {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainlogo:hover {
  opacity: 0.4;
}

@media screen and (max-width: 573px) {
  .navcontainer ul {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
  }
}

.mainlogo {
  height: 40px;
  width: 100px;
}

@media screen and (max-width: 573px) {
  .mainlogo {
    display: none;
  }
}

.underfooter {
  background-color: #0c1119;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 382px) {
  .underfooter {
    flex-direction: column;
  }

  .mainfooter {
    flex-direction: column;
  }
}

.phonefooter {
  height: 200px;
  background-color: #121a25;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.phonefootertext {
  color: white;
  font-size: 20px;
  display: flex;
}

.phonefooter a {
  text-decoration: none;
}

.phonefooter p {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.phonefooternumber {
  color: white;
  border: white 1px solid;

  font-size: 20px;
}

.phonefooternumber i {
  padding: 15px;
}

@media screen and (max-width: 470px) {
  .phonefooter p {
    width: 200px;
  }
}

.phonefooter p:hover {
  opacity: 0.3;
}

.logofooter {
  height: 80px;
}

.logofooter:hover {
  opacity: 0.2;
}

.mainfooter {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #192332;
}

.textfooter {
  flex-direction: column;
  display: flex;
}

.textfooter a {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

.textfooter a:hover {
  color: #838890;
}
